<nav class="navbar container-fluid bg-light flex-row justify-content-start">
    <button class="navbar-toggler m-1 d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#my-offcanvas"
        aria-label="Toggle navigation" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</nav>